/* line 4, ../scss/owners.scss */
.owners h2 {
  font-size: 24px;
  font-family: 'Conv_HelveticaNeue-CondensedBold',sans-serif;
  font-weight: normal;
}
/* line 9, ../scss/owners.scss */
.owners .send__ok {
  margin: 10px 0;
}
/* line 12, ../scss/owners.scss */
.owners .send__okicon {
  background: url('../img/icons-s92de9478d5.png') 0 -1129px no-repeat;
  width: 44px;
  height: 44px;
  vertical-align: middle;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: -2px;
}
/* line 21, ../scss/owners.scss */
.owners .send label {
  float: left;
  width: 152px;
  text-align: left;
  font-size: 14px;
  color: #888;
  padding-top: 9px;
}
/* line 29, ../scss/owners.scss */
.owners .send .row {
  overflow: hidden;
  padding: 5px 0;
  margin-bottom: 4px;
}
/* line 33, ../scss/owners.scss */
.owners .send .row .select {
  width: 225px;
  font-size: 14px;
  color: #888;
  text-shadow: none;
}
/* line 38, ../scss/owners.scss */
.owners .send .row .select select {
  -webkit-appearance: none;
  height: 32px;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  position: absolute;
}
/* line 49, ../scss/owners.scss */
.owners .send .input {
  float: left;
  font-size: 13px;
  color: #888;
  width: 215px;
  padding: 8px 10px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.4);
}
/* line 59, ../scss/owners.scss */
.owners .send .input:focus {
  color: #333;
}
/* line 64, ../scss/owners.scss */
.owners .send__last {
  margin-top: 24px;
}
/* line 67, ../scss/owners.scss */
.owners .button {
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  border-radius: 4px;
  background: url('../img/icons-s92de9478d5.png') 0 0 no-repeat;
  width: 230px;
  height: 55px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -2px 1px;
  font-size: 21px;
  font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
  color: #fff;
  background-repeat: repeat-x;
  height: 43px;
  line-height: 43px;
  padding: 0 20px;
  width: auto;
}
/* line 82, ../scss/owners.scss */
.owners .button:hover {
  background-position: 0 -65px;
  background-repeat: repeat-x;
}
/* line 86, ../scss/owners.scss */
.owners .button:active {
  background-position: 0 -130px;
  background-repeat: repeat-x;
}
