@import "base";
/*main*/
.cols {

}
.col-1 {
		float: left;
		width: 670px;
}
.col-2 {
		float: right;
		width: 230px;
}
.col-3 {
		float: left;
		width: 325px;
}
.col-4 {
		float: right;
		width: 565px;
}
.cols_alt{
	.col-1{
		float: right;
	}
	.col-2{
		float: left;
		position: relative;
		z-index: 1000;
	}
}
