@import "compass/css3";
@import "base";

/*main*/
.main-wrap {
	position: relative;
}
.main {
	//background: white;
	//padding-top: 2px;
	@include border-radius(3px);
	@include box-shadow(rgba(0,0,0,0.2) 0px 1px 2px);
	//overflow: hidden;
	margin-top: -1px;
}

/*slider*/
.slider {
	width: 600px;
	background: #fff;
	position: relative;
}
.slider__in{
	width: 600px;
	height: 400px;
	position: relative;
}
.slider__wrap {
	line-height: 400px;
	background: #000;
	@include border-radius(3px 0 0 0);
	overflow: hidden;
	text-align: center;
	width: 600px;
	height: 400px;
	position: relative;
	ul {
		position: relative;
		width: 99999px;
		list-style: none;
		white-space: nowrap;

		li {
			float: left;
			width: 600px;
			line-height: 400px;

			img {
				vertical-align: middle;
			}
		}
	}
}

.slider__info, .slider__reviews {
	position: relative;
	height: 90px;
	overflow: hidden;
	z-index: 5;
	background: #fff;
}

.slider__reviews {

	.reserve {
		position: relative;
		bottom: auto;
		margin: 0;
		padding: 23px 0 0 20px;
		border: none;
		a {
			width: 240px;
			&:hover,&:active{
				width: 240px;
			}
		}
	}
}
.slider__rating {
	float: left;
	text-align: right;
	position: relative;
	width: 170px;
	margin: 25px 0 0 20px;
	span {
		display: block;
		margin-top: 5px;
		font-size: 13px;
		color: #8f847b;
	}
	.slider__ratingstars{
		width: 94px;
		text-align: center;
		height: 38px;
		padding-top: 4px;
		float: left;
		border: 1px solid #ddd;
		border-top-right-radius:4px;
		border-bottom-right-radius:4px;
		border-left: none;
	}
	.slider__ratingstars_alt{
		border: none;
	}
	.slider__ratingicon{
		@include sized-sprite($icons, sliderrating_icon);
		float: left;
	}
	.slider__ratingwrap{
		position: relative;
		display: inline-block;
	}
	.slider__ratingdefault{
		display: block;
		position: relative;
		top: 0;
		left: 0;
		@include sized-sprite($icons, stars_default);
	}
	.slider__ratingcurrent{
		position: absolute;
		@extend .slider__ratingdefault;
		z-index:10;
		@include sized-sprite($icons, stars_active);
	}
}
.slider__title {
	float: left;
	padding-left: 25px;
	margin: 22px 0;
	.h1 {
		//max-width: 245px;
		margin-bottom: 3px;
		//white-space: nowrap;
		//text-overflow: ellipsis;
		//overflow: hidden;
	}
	span {
		font-size: 13px;
		color: #8f847b;
	}
}
.slider__nav {
	float: right;
	margin: 27px 15px 0 0;
	li {
		float: left;
	}
	i {
		display: block;
	}
	.disabled{
		.slider__prev-ico{
			@include sized-sprite($icons, prev);
		}
		.slider__next-ico{
			@include sized-sprite($icons, next);
		}
	}
}
.slider__prev, .slider__next {
	cursor: pointer;
}
.slider__prev-ico {
	@include sized-sprite($icons, prev1);
	&:hover {
		background-position: sprite-position($icons, prev2);
	}
}
.slider__next-ico {
	@include sized-sprite($icons, next1);
	&:hover {
		background-position: sprite-position($icons, next2);
	}
}
.slider__current {
	margin: 0 8px;
	line-height: 28px;
}
/*main-tabs*/
.tabs {
	position: absolute;
	right: 0;
	top: -57px;
	width: 320px;
	background: #f3f0ed;
	@include border-radius(2px 2px 0 0);
	@include box-shadow(rgba(0,0,0,0.2) 0px 1px 1px);
	font-family: 'helveticaneuecyrbold', Arial, sans-serif;
	overflow: hidden;
	li {
		position: relative;
		float: left;
	}
	a {
		display: block;
		height: 57px;
		padding-left: 55px;
		border-top: 1px solid #fff;
		line-height: 57px;
		font-size: 13px;
		color: #afa299;
		text-shadow: 0 1px 1px #fff;
		cursor: pointer;
		background: #f3f0ed;
		z-index: 5;
		position: relative;
		&:hover {
			color: #554e49;
		}
	}
	i {
		position: absolute;
		top: 14px;
		left: 27px;
	}
	.active {
		height: 56px;
		line-height: 56px;
		background: #fff;
		border-top: 2px solid #da2d17;
		@include border-radius(2px 2px 0 0);
		color: #da2d17;
		.tabs__info-ico {
			@include sized-sprite($icons, ico1);
		}
		.tabs__reviews-ico {
			@include sized-sprite($icons, ico3);
		}
		&:hover {
			color: #da2d17;
			.tabs__info-ico {
				@include sized-sprite($icons, ico1);
			}
			.tabs__reviews-ico {
				@include sized-sprite($icons, ico3);
			}
		}
	}
}
.tabs__info {
	width: 110px;
	i {
		@include sized-sprite($icons, ico);
	}
	&:hover {
		i {
			background-position: sprite-position($icons, ico5);
		}
	}
}
.tabs__reviews {
	width: 100px;
	i {
		@include sized-sprite($icons, ico2);
	}
	&:hover {
		i {
			background-position: sprite-position($icons, ico4);
		}
	}
}
/*content*/
.content {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: #fff;
}
.content_info {
	width: 260px;
	padding: 0 30px;
	@include border-radius(0 0 3px 0);
	ul {
		padding-top: 25px;
	}
	li {
		position: relative;
		padding-left: 35px;
		margin-bottom: 15px;
		&:hover {
			cursor: default;
		}
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
	}
	b {
		display: block;
		font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
		font-weight: normal;
	}
	.content__adress {
		i {
			@include sized-sprite($icons, adress);
		}
		b {
			margin-bottom: 5px;
			font-size: 14px;
		}
		span {
			position: relative;
			padding-left: 20px;
		}
		em {
			position: absolute;
			top: 1px;
			left: 0;
			@include sized-sprite($icons, metro);
		}
	}
	.content__map {
		width: 260px;
		height: 135px;
		padding-left: 0px;
		overflow: hidden;
	}
	.content__time {
		text-transform: uppercase;
		line-height: 1.5;
		i {
			@include sized-sprite($icons, time);
		}
	}
	.content__info {
		font-size: 13px;
		line-height: 1.5;
		i {
			@include sized-sprite($icons, info);
		}
		&:hover i{background-position: sprite-position($icons, info1);}
	}
	.content__check {
		padding-top: 5px;
		font-size: 13px;
		i {
			@include sized-sprite($icons, check);
		}
		a {
			font-size: 13px;
			color: #2e2c2a;
			text-decoration: underline;
		}
		&:hover i{background-position: sprite-position($icons, check1);}
	}
	.content__map-shadow/*, .content__map-wrap*/ {
		position: absolute;
		top: 0;
		left: 0;
		width: 260px;
		height: 135px;
		@include border-radius(0 0 5px 5px);
		@include box-shadow(rgba(0,0,0,0.5) 0px 0px 5px inset, #fff 0 0 5px 5px);
		cursor: pointer;
	}
	.one-line {
		padding-top: 4px;
	}
}

/*.content_reviews__wrap {
	width: 0;
	overflow: hidden;
	@include box-shadow(rgba(50, 50, 50, 0.2) -4px 0 6px 0);
}*/

.content_reviews {
	width: 640px;
	z-index: 10;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -40px;
		width: 40px;
		height: 100%;
		@include background-image(linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2)));
	}
}

.reviews {
	position: relative;
	height: 445px;
	margin: 25px 0 20px 25px;
	outline: none;
	overflow: auto;
}
.reviews__item {
	margin-bottom: 20px;
}
.reviews__top {
	overflow: hidden;
}
.user {
	float: left;
	width: 250px;
}
.user__pic {
	float: left;
	position: relative;
	width: 50px;
	height: 50px;
	margin-right: 13px;
	i {
		position: absolute;
		width: 100%;
		height: 100%;
		@include border-radius(4px);
		@include box-shadow(rgba(0,0,0,0.15) 0px 2px 3px inset);
		z-index: 5;
	}
	img {
		@include border-radius(4px);
	}
}
.user__name {
	padding-top: 6px;
	a /*.full__name*/ {
		font-size: 18px;
		color: #3d3d3d;
		font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
	}
	span {
		display: block;
		margin-top: 6px;
		color: #9c9c9c;
	}
}
.rating {
	float: right;
	margin: 5px 0;
	padding: 9px 15px 9px 30px;
	border-left: 1px solid #e5e5e5;
}
.recomm {
	float: right;
	padding: 9px 35px 0 0;
}
.best {
	float: right;
	padding-right: 35px;
	line-height: 50px;
	span {
		position: relative;
		padding-left: 30px;
		font-size: 14px;
		color: #3d3d3d;
		font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
	}
	i {
		position: absolute;
		top: -2px;
		left: 0;
		@include sized-sprite($icons, best);
	}
}
.review__txt {
	position: relative;
	margin-top: 16px;
	padding: 5px 10px;
	border: 1px solid #e0e0e0;
	@include border-radius(4px);
	p {
		line-height: 1.3;
		font-size: 13px;
		color: #424242;
	}
	a {
		color: #ae0000;
		text-decoration: underline;
	}
	i {
		position: absolute;
		top: -8px;
		left: 17px;
		@include sized-sprite($icons, arr);
	}
}
/*reserve*/
.reserve {
	position: absolute;
	width: 250px;
	bottom: 11px;
	padding: 13px 10px 10px 10px;
	border: 1px solid #c4c4c4;
	@include border-radius(5px);
	span {
		position: absolute;
		top: -10px;
		left: 10px;
		padding: 0 7px;
		background: #fff;
		font-size: 14px;
		font-family: 'helveticaneuecyrbold', Arial, sans-serif;
	}
	a {
		display: block;
		height: 43px;
		line-height: 43px;
		@include box-shadow(rgba(0,0,0,0.15) 1px 1px 2px);
		@include border-radius(4px);
		@include sized-sprite($icons, 'btn2');
		text-align: center;
		text-shadow: rgba(0,0,0,0.3) 0 -2px 1px;
		font-size: 18px;
		font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
		color: #fff;
		width: 100%;
		background-repeat: repeat-x;
		&:hover {
			background-position: sprite-position($icons, btn2_hover);
			width: auto;
			background-repeat: repeat-x;
		}
		&:active {
			//@include box-shadow(rgba(0,0,0,0.15) 1px 1px 2px, rgba(43,5,5,0.6) 0 2px 8px inset);
			background-position: sprite-position($icons, btn2_focus);
			width: auto;
			background-repeat: repeat-x;
		}
	}
}
.reserve_red{
	a{
		@include border-radius(5px);
		@include background-clip(padding-box);
		background-color: #c5200d;
		@include box-shadow(0 1px 1px rgba(0,0,0,.15));
		@include background-image(linear-gradient(bottom, rgba(0,0,0,.16) 0%, rgba(255,255,255,.16) 100%));
	}
}
.soc-counts{
	position: absolute;
	left:24px;
	top: 20px;
}
.fb-count{
	.fb-count__l{@include sized-sprite($icons, 'fb-l');}
	.fb-count__c{@include sized-sprite($icons, 'fb-c');}
	.fb-count__r{@include sized-sprite($icons, 'fb-r');}
}
.vk-count{
	.vk-count__l{@include sized-sprite($icons, 'vk-l');}
	.vk-count__c{@include sized-sprite($icons, 'vk-c');}
	.vk-count__r{@include sized-sprite($icons, 'vk-r');}
}
.fb-count,.vk-count{
	float: left;
	margin-right: 21px;
	span{float: left;}
	.fb-count__c, .vk-count__c{
		width: auto;
		float: left;
		color:#3b5b7e;
		font-size: 12px;
		min-width: 16px;
		padding: 0 2px;
		font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
		text-shadow:0 -1px 0 #fff;
		line-height: 27px;
		text-align: center;
	}
	&:hover{
		opacity: 0.5;
	}
}

.user-panel {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 61px;
	background: rgba(0,0,0,.67);
	box-shadow:0 2px 0 rgba(white,.11) inset;
	line-height: 75;
	padding-top: 15px;
	line-height: 1;
	&:before, &:after{
		content:'';
		position: absolute;
		top:0;
		left: 0;
		width: 100px;
		height: 0;
		border-top:1px solid #000;
		width: 555px
	}
	&:after{
		left: auto;
		right: 0;
		width: 13px;
	}
	.user-panel__item{
		margin: 0 5px;
		float: left;
		position: relative;
		img{
			vertical-align: middle;
			border-radius:5px;
			box-shadow:0 1px 0 rgba(white,.42) inset, 0 3px 3px rgba(0,0,0,.75);
		}
		&:first-child{margin-left: 17px;}
		&:hover{
			.user-panel__hint{display: block;}
		}
	}
	.user-panel__hint{
		position: absolute;
		@include border-radius(3px);
		background: #fff;
		top:-51px;
		font-size: 12px;
		color:#000;
		padding: 5px 2px 7px;
		white-space: nowrap;
		left:50%;
		display: none;
		margin-left: -60px;
		width: 114px;
		z-index: 5;
		text-align: center;
		box-shadow:0 2px 2px rgba(0,0,0,.4);
		font-weight: bold;
		line-height: 1;
		&:before{
			@include sized-sprite($icons, 'hint-arr2');
			content:'';
			position: absolute;
			bottom:-7px;
			left:50%;
			margin-left: -10px;
		}
	}
	.user-panel__btn{
		@include sized-sprite($icons, 'user-btn');
		position: absolute;
		right: 13px;
		top: -14px;
		cursor: pointer;
		i{
			@include sized-sprite($icons, 'arr4');
			position: absolute;
			top: 10px;
			left: 11px;
		}
	}
}
.user-panel_min{
	bottom: -69px;
	.user-panel__btn{
		i{
			@include sized-sprite($icons, 'arr5');
			top:6px;
		}
	}
}
