@import "compass/css3";
@import "base";
.popup-menu {
	color: #424242;
	background: url(../img/noise-bg.png) 0 0 repeat;
}
.menu {
	padding: 23px 103px 15px 71px;
	height: 500px;
	border: 1px solid #e2e2e2;
	//overflow-y: scroll;
}
.menu__title {
	font-size: 24px;
	font-weight: normal;
	line-height: 18px;
}
.menu__list {
	margin-top: 25px;
	color: #424242;
	li {
		overflow: hidden;
		margin-bottom: 20px;
	}
}
.menu__prod {
	float: left;
	width: 353px;
	strong {
		display: block;
		padding-bottom: 2px;
		font-size: 18px;
	}
	p {
		line-height: 18px;
	}
}
.menu__price {
	float: right;
	font-weight: bold;
	font-size: 18px;
}
