@import 'base';
.owners{
	@extend .oferta;
	h2{
		font-size: 24px;
		font-family: 'Conv_HelveticaNeue-CondensedBold',sans-serif;
		font-weight: normal;
	}
	.send__ok{
		margin: 10px 0;
	}
	.send__okicon{
		@include sized-sprite($icons, 'okicon');
		vertical-align: middle;
		margin-right: 8px;
		display: inline-block;
		position: relative;
		top: -2px;
	}
	.send{
		label{
			float: left;
			width: 152px;
			text-align: left;
			font-size: 14px;
			color: #888;
			padding-top: 9px;
		}
		.row{
			overflow: hidden;
			padding: 5px 0;
			margin-bottom: 4px;
			.select{
				width: 225px;
				font-size: 14px;
				color: #888;
				text-shadow:none;
				select{
					-webkit-appearance:none;
					height: 32px;
					top: 0;
					left: 0;
					width: 100%;
					opacity:0;
					position: absolute;
				}
			}
		}
		.input{
			float: left;
			font-size: 13px;
			color: #888;
			width: 215px;
			padding: 8px 10px;
			border: 1px solid #cacaca;
			border-radius: 4px;
			box-shadow:inset 0 3px 3px -3px rgba(black,.4);
			background: rgba(white,.4);
			&:focus{
				color: #333;
			}
	}
	}
	.send__last{
		margin-top: 24px;
	}
	.button{
		display: inline-block;
		box-shadow: rgba(0,0,0,0.15) 1px 1px 2px;
		border-radius: 4px;
		@include sized-sprite($icons, 'btn1');
		text-align: center;
		text-shadow: rgba(0,0,0,0.3) 0 -2px 1px;
		font-size: 21px;
		font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
		color: #fff;
		background-repeat: repeat-x;
		height: 43px;
		line-height: 43px;
		padding: 0 20px;
		width: auto;
		&:hover {
			background-position: sprite-position($icons, btn1_hover);
			background-repeat: repeat-x;
		}
		&:active {
			//@include box-shadow(rgba(0,0,0,0.15) 1px 1px 2px, rgba(43,5,5,0.6) 0 2px 8px inset);
			background-position: sprite-position($icons, btn1_focus);
			background-repeat: repeat-x;
		}
	}
}