/* ----------------------------------------- Main styles --------------------------------------- */
/* ----------------------------------------- PAGE cabinet--------------------------------------- */

// select_cabinet
.select_cabinet{
	padding: 4px 35px 4px 20px;
	position: absolute;
	top: 47px;
	right: 0;
	color: #636363;
	strong{
		width: 18px;
		height: 38px;
		position: absolute;
		top: 0;
		right: 0;
	}
	em{
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 6px 5px 0px 5px;
		border-color: #898989 transparent transparent transparent;
		background: transparent;
		top: 16px;
		left: -3px;
	}
	b{
		text-shadow:0 1px 0 #fff;
	}
}
// cab
.cab{
	margin-left: -50px;
	.cab__header{
		width: 880px;
		padding-left: 40px;
		padding-bottom: 15px;
		margin-bottom: 30px;
		border-bottom: 1px dotted #636363;
		@extend %clr;
		i{
			margin-right: 20px;
			float: left;
			@include sized-sprite($icons, 'cab_header');
		}
		h1{
			font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
			padding-top: 9px;
		}
	}
}
.cab__cnt{
	@extend %clr;
	padding-left: 30px;
	.cab__img{
		width: 66px;
		height: 64px;
		line-height: 64px;
		margin-bottom: 30px;
		@include border-radius(3px);
		@include background-clip(padding-box);
		background-color: #d0d0d0;
		@include box-shadow(0 2px 0 rgba(255,255,255,.65), inset 0 3px 3px rgba(0,0,0,.14));
		@include background-image(linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 61.13%, rgba(255,255,255,.32) 100%));
		img{
			max-width: 44px;
			height: 48px;
			vertical-align: middle;
			padding: 10px 11px 6px;
		}
	}
	.cab__user{
		margin-bottom: 30px;
		font: 20px 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
		font-weight: bold;
		span{
			font-family: 'Conv_HelveticaNeue', Arial, sans-serif;
			font-weight: normal;
		}
		label{
			min-width: 60px;
			display: inline-block;
		}
		input{
			min-width: 105px;
			height: 17px;
			padding: 10px 15px;
			background: transparent;
			border-radius: 3px;
			border: 1px solid #cacaca;
			font: 20px 'Conv_HelveticaNeue', Arial, sans-serif;
		}
	}
	.cab__edit{
		margin-top: 40px;
		font: 14px 'Conv_HelveticaNeue', Arial, sans-serif;
		color: #636363;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.cab__edit_changing{
		margin-left: 20px;
	}
	.cab__save{
		
	}
}










/* ------------------------------------ //END Main styles --------------------------------------- */
