/* ------------------------------------- Independent blocks -------------------------------------- */
// classes
.clr{
	clear: both;
}
.owners_mod{
	padding: 35px 30px 65px;
}
// link
.link_red{
	font-family: 'HelveticaNeueMed', Arial, sans-serif;
	font-size: 14px;
	text-decoration: underline;
	color: #c62101;
	&:hover{
		text-decoration: none;
	}
}
.link_blue{
	font-family: 'HelveticaNeueMed', Arial, sans-serif;
	font-size: 14px;
	color: #2f6d91;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
// tags
.tags{
	background: #e7e6e6;
	border: none;
	border-radius: 2px;
	color: #000;
	box-shadow: none;
	display: inline-block;
	margin-right: 6px;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
	padding: 0 8px;
	margin-bottom: 8px;
	font-size: 13px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
	i{
		@include sized-sprite($icons, delete);
		opacity: .44;
		margin-left: 3px;
		vertical-align: middle;
		display: inline-block;
	}
	&:hover{
		@include background-image(linear-gradient(rgba(white,.4), #d5d5d5));
		box-shadow:inset 0 1px 0 #fff,0 2px 2px rgba(black,.1);
		i{
			opacity:.77;
		}
	}
}
//popup__input
.popup__input{
	height: 22px;
	padding: 5px ;
	border: 1px solid #cacaca;
	border-radius: 3px;
	margin-bottom: 18px;
	&:hover{
		cursor: text;
	}
}
input.popup__input{
	width: 368px;
	&:focus{
		outline: 1px solid #666;
	}
}
//popup__textarea
.popup__textarea{
	width: 358px;
	max-width: 358px;
	min-height: 75px;
	padding: 10px;
	border: 1px solid #cacaca;
	border-radius: 3px;
	margin-bottom: 18px;
	&:focus{
		outline: 1px solid #666;
	}
}
//popup_review
.popup_review{
	@extend .popup;
	width: 380px;
	height: auto;
	margin: -56px 0 0 -212px;
	text-align: left;
	border-radius: 3px;
	color: #353535;
	line-height: 1.2;
}
// btn
.btn{
	height: 30px;
	padding: 6px 15px;
	vertical-align: top;
	line-height: 30px;
	display: inline-block;
	@include border-radius(4px);
	@include box-shadow(1px 0 1px rgba(0,0,0,.3), inset 0 1px 0 rgba(255,255,255,.26));
	color: #FFF;
	font: 18px  'Conv_HelveticaNeue-CondensedBold';
	text-shadow: 0 -2px 0 rgba(0,0,0, 0.27);
	&:hover{
		@include background-image(linear-gradient(bottom, rgba(255,255,255,.16) 0%, rgba(0,0,0,.16) 100%));
	}
	i{
		position: relative;
		display: inline-block;
		margin-right: 14px;
		&:after{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: -14px;
		}
	}
	span{
		vertical-align: top;
		line-height: 30px;
	}
	i + span {
		padding-left: 15px;
	}
}
// btn-danger
.btn-danger{
	background-color: #30a318;
	@include background-image(linear-gradient(bottom, rgba(0,0,0,.16) 0%, rgba(255,255,255,.16) 100%));
	i{
		@include sized-sprite($icons, ico_yes);
		&:after{

			@include sized-sprite($icons, ico_border);
		}
	}
}
// btn-success
.btn-success{
	background-color: #e92500;
	@include background-image(linear-gradient(bottom, rgba(0,0,0,.16) 0%, rgba(255,255,255,.16) 100%));
	i{
		margin-top: 3px;
		@include sized-sprite($icons, ico_no);
		&:after{

			@include sized-sprite($icons, ico_border);
		}
	}
}
// btn-inverse
.btn-inverse{
	background-color: #434546;
	@include background-image(linear-gradient(bottom, rgba(0,0,0,.16) 0%, rgba(255,255,255,.16) 100%));
	i{
		margin-top: 3px;
		@include sized-sprite($icons, ico_cross);
		&:after{

			@include sized-sprite($icons, ico_border);
		}
	}
}
// check2
.check2{
	margin: 25px 0 30px;
	display: block;
	font-family: 'HelveticaNeueMed', Arial, sans-serif;
	input{
		vertical-align: bottom;
		margin-right: 10px;
	}
}
// check3
.wrap-check3{
	margin-top: 30px;
	margin-right: -35px;
	.check3{
		margin: 0px 35px 15px 0;
		display: inline-block;
		font-family: 'HelveticaNeueMed', Arial, sans-serif;
		input{
			vertical-align: bottom;
			margin-right: 10px;
		}
	}
}
// btn_sucess
.btn-send{
	display: block;
	height: 43px;
	line-height: 43px;
	@include box-shadow(rgba(0,0,0,0.15) 1px 1px 2px);
	@include border-radius(4px);
	@include sized-sprite($icons, 'btn2');
	text-align: center;
	text-shadow: rgba(0,0,0,0.3) 0 -2px 1px;
	font-size: 18px;
	font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
	color: #fff;
	width: 100%;
	background-repeat: repeat-x;
	&:hover {
		display: block;
		background-position: sprite-position($icons, btn2_hover);
		background-repeat: repeat-x;
	}
}
// rate_mod
.rate_mod{
	position: static;
	span{
		color: #000;
	}
}
/* ---------------------------------- //END Independent blocks ----------------------------------- */
