/* ----------------------------------------- Main styles --------------------------------------- */
/* ----------------------------------------- PAGE cabinet--------------------------------------- */

// select_cabinet
.select_cabinet{
	padding: 4px 35px 4px 20px;
	position: absolute;
	top: 47px;
	right: 0;
	color: #636363;
	strong{
		width: 18px;
		height: 38px;
		position: absolute;
		top: 0;
		right: 0;
	}
	em{
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 6px 5px 0px 5px;
		border-color: #898989 transparent transparent transparent;
		background: transparent;
		top: 16px;
		left: -3px;
	}
	b{
		text-shadow:0 1px 0 #fff;
	}
}
.select_cabinet-enter{
	padding: 4px 25px;
	b{
		font-size: 14px;
		font-weight: bold;
	}
}
// cab
.cab, .fav{
	header{
		width: 880px;
		padding-left: 40px;
		padding-bottom: 15px;
		margin-bottom: 30px;
		margin-left: -30px;
		border-bottom: 1px dotted #636363;
		@extend %clr;
		i{
			margin-right: 20px;
			float: left;
			@include sized-sprite($icons, 'cab_header');
		}
		h1{
			font: 30px 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
		}
	}
}

.cab__cnt{
	@extend %clr;
	.cab__img{
		width: 66px;
		height: 64px;
		line-height: 64px;
		float: left;
		margin-bottom: 30px;
		@include border-radius(3px);
		@include background-clip(padding-box);
		background-color: #d0d0d0;
		@include box-shadow(0 2px 0 rgba(255,255,255,.65), inset 0 3px 3px rgba(0,0,0,.14));
		@include background-image(linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 61.13%, rgba(255,255,255,.32) 100%));
		img{
			max-width: 44px;
			height: 48px;
			vertical-align: middle;
			padding: 10px 11px 6px;
		}
	}
	.cab__user{
		margin-bottom: 30px;
		font: 20px 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
		font-weight: bold;
		span{
			font-family: 'Conv_HelveticaNeue', Arial, sans-serif;
			font-weight: normal;
		}
		label{
			min-width: 60px;
			display: inline-block;
		}
		input{
			min-width: 105px;
			height: 17px;
			padding: 10px 15px;
			background: transparent;
			border-radius: 3px;
			border: 1px solid #cacaca;
			font: 20px 'Conv_HelveticaNeue', Arial, sans-serif;
			&:focus{
				outline: 1px solid #666;
			}
		}
	}
	.cab__edit{
		margin-top: 40px;
		font: 14px 'Conv_HelveticaNeue', Arial, sans-serif;
		color: #636363;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.cab__edit_changing{
		margin-left: 20px;
	}
	.cab__edit_changing-img{
		margin-left: 20px;
		margin-top: 25px;
		display: inline-block;
	}
	.cab__save{
		height: 22px;
		line-height: 38px;
		padding: 8px 25px;
		@include background-image(linear-gradient(#bf594d 0%, #ad463b 50%, #973025 100%));
		@include box-shadow(rgba(0,0,0,0.15) 0px 1px 1px );
		border-radius: 5px;
		display: inline-block;
		font: 18px 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
		color: #FFF;
		text-shadow:0 -2px 0 rgba(0,0,0,0.27);
		&:hover{
			@include background-image(linear-gradient(#973025 0%, #ad463b 50%, #bf594d 100%));		}
	}
}

/* ----------------------------------------- PAGE cabinet--------------------------------------- */
.popup_review-went2{
	height: 295px;
	margin-top: -172px;
}
.popup_review-went3{
	width: 380px;
	height: 370px;
	margin-top: -172px;
}
.popup_review-went4{
	width: 380px;
	height: auto;
	margin-top: -172px;
}
.popup_review-went5{
	width: 440px;
	height: auto;
	margin-top: -172px;
	.h2_med{
		font-family: 'helveticaneuecyrroman', Arial, sans-serif;
		margin-bottom: 20px;
	}
	.btn{
		margin-right: 10px;
	}
}
.popup__note{
	margin: 25px 0 18px;
	font:14px  'helveticaneuecyrroman', Arial, sans-serif;
	color: #adadad;
}
/* ----------------------------------------- PAGE favorite--------------------------------------- */
// fav
.fav{
	header{
		i{
			@include sized-sprite($icons, 'star');
		}
	}
	.fav__cont{
		@extend %clr;
		i{
			@include sized-sprite($icons, 'favorite');
			float: left;
			margin-bottom: 50px;
			margin-right: 25px;
		}
		p{
			margin-bottom: 30px;
			font-size: 18px;
			line-height: 1.2;
		}
	}
	.fav__search{
		font-size: 18px;
		color: #000;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.fav-places_mod{
	padding: 0 10px;
	border-top: none;
	ul.bar{
		width: 870px;
		padding: 5px;
		li{
			margin: 0 40px 15px 0;
		}
	}
	.h2{
		margin-bottom: 0;
		line-height: 1.2;
	}
	.reserve-table{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
/* ----------------------------------------- PAGE search_selected --------------------------------------- */
.search-results{
	.bar{
		li{
			&:hover{
				margin: -1px 19px 19px -1px;
				background: rgba(234,229,183, 0.45);
				border: 1px solid #bd8b2a;
			}
		}
	}
}







/* ------------------------------------ //END Main styles --------------------------------------- */
