/* ------------------------------------- Independent blocks -------------------------------------- */
.link_red{
	font-family: 'HelveticaNeueMed', Arial, sans-serif;
	font-size: 14px;
	text-decoration: underline;
	color: #c62101;
	&:hover{
		text-decoration: none;
	}
}
/* ---------------------------------- //END Independent blocks ----------------------------------- */
