/* ------------------------------------- Independent blocks -------------------------------------- */
.link_red{
	font-family: 'HelveticaNeueMed', Arial, sans-serif;
	font-size: 14px;
	text-decoration: underline;
	color: #c62101;
	&:hover{
		text-decoration: none;
	}
}
.tags{
	background: #e7e6e6;
	border: none;
	border-radius: 2px;
	color: #000;
	box-shadow: none;
	display: inline-block;
	margin-right: 6px;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
	padding: 0 8px;
	margin-bottom: 8px;
	font-size: 13px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
	i{
		@include sized-sprite($icons, delete);
		opacity: .44;
		margin-left: 3px;
		vertical-align: middle;
		display: inline-block;
	}
	&:hover{
		@include background-image(linear-gradient(rgba(white,.4), #d5d5d5));
		box-shadow:inset 0 1px 0 #fff,0 2px 2px rgba(black,.1);
		i{
			opacity:.77;
		}
	}
}
.popup__input{
	height: 22px;
	padding: 5px ;
	border: 1px solid #cacaca;
	border-radius: 3px;
	margin-bottom: 18px;
	&:hover{
		cursor: text;
	}
}
/* ---------------------------------- //END Independent blocks ----------------------------------- */
