@import "compass/css3";
@import "base";
/*resets*/
* { margin: 0; padding: 0;}
html {
	height: 100%;
}

/*@include font-face('flexyregular',
	font-files(
	'/fonts/flexy31-1-webfont.woff', woff,
	'/fonts/flexy31-1-webfont.ttf', ttf,
	'/fonts/flexy31-1-webfont.svg', svg),
	'/fonts/flexy31-1-webfont.eot');

@include font-face('Conv_HelveticaNeue-CondensedBold',
	font-files(
	'/fonts/HelveticaNeue-CondensedBold.woff', woff,
	'/fonts/HelveticaNeue-CondensedBold.ttf', ttf,
	'/fonts/HelveticaNeue-CondensedBold.svg', svg),
	'/fonts/HelveticaNeue-CondensedBold.eot');
*/
@font-face {
	font-family: 'helveticaneuecyrroman';
	src: url("../fonts/helveticaneuecyr-roman-webfont.eot");
	src: url("../fonts/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-roman-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helveticaneuecyrbold';
	src: url("../fonts/helveticaneuecyr-bold-webfont.eot");
	src: url("../fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeue-CondensedBold';
	src: url("../fonts/HelveticaNeue-CondensedBold.eot");
	src: local("☺"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype"), url("../fonts/HelveticaNeue-CondensedBold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'flexyregular';
	src: url("../fonts/flexy31-1-webfont.eot");
	src: url("../fonts/flexy31-1-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/flexy31-1-webfont.woff") format("woff"), url("../fonts/flexy31-1-webfont.ttf") format("truetype"), url("../fonts/flexy31-1-webfont.svg#flexyregular") format("svg");
	font-weight: normal;
	font-style: normal;
}
body{
	height: 100%;
	background: url(../img/icons/bg.png);
	font: {
	family: 'helveticaneuecyrroman', Arial, sans-serif;
	weight: normal;
	size: 12px;
	}
	color: #2e2c2a;
	line-height: 1;
}
a img, fieldset {
	border:none;
}
a {
	text-decoration:none;
}
li {
	list-style: none;
}
input, textarea, button {
	border: none;
	outline: none;
}
.h1 {
	font-size: 30px;
	font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
	font-weight: normal;
}
.h2 {
	font-size: 24px;
	font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
	font-weight: normal;
}
.clr {
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
}
.container {
	position: relative;
	width: 920px;
	margin: 0 auto -76px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
/*layouts*/
.col-1 {
	float: left;
	width: 600px;
}
/*header*/
.header {
	position: relative;
	height: 108px;
}
.logo {
	position: absolute;
	top: 42px;
	left: 22px;
	@include sized-sprite($icons, logo);
	a {
		display: block;
		width: 148px;
		height: 41px;
		@extend %hide-text;
	}
}
.logo_invert{
	background-position: sprite-position($icons, logo2);
}
.logo-desc {
	position: absolute;
	top: 47px;
	left: 194px;
	height: 28px;
	line-height: 28px;
	padding: 0 85px 0 25px;
	border-left: 1px solid rgba(0,0,0,.15);
	opacity: 0.64;
	span {
		color: #2e2c2a;
	}
	i {
		position: absolute;
		top: 2px;
		right: 0;
		@include sized-sprite($icons, logo1);
	}
}

.user-prof{
	position: absolute;
	top: 47px;
	left: 380px;
	border-left: 1px solid rgba(0,0,0,.15);
	padding: 0 0 0 14px;
	.user-prof__img{
		float: left;
		margin: -1px 8px 0 0;
		img{
			border-radius:2px;
			vertical-align: middle;
		}
	}
	.user-prof__name{
		float: left;
		font-size: 14px;
		color:#565656;
		width: 112px;
		overflow: hidden;
		white-space: nowrap;
		margin-top: 6px;
		font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
	}
	.user-prof__arr{
		float: left;
		margin-top: 11px;
		@include sized-sprite($icons, 'arr3');
	}
	.user-prof__btn{
		width: 161px;
		cursor: pointer;
		padding-left: 12px;
	}
}

.user-prof__drop{
	position: absolute;
	display: none;
	right: 0;
	top: 48px;
	z-index: 5;
	background:#fff;
	width: 221px;
	border-radius:3px 0 3px 3px;
	box-shadow:0 10px 18px rgba(0,0,0,.21);
	.user-prof__num{
		font-size: 12px;
		color: #9c9b9a;
		left: 92px;
		position: absolute;
		top: -20px;
	}
	&:before{
		background: #fff;
		content:'';
		position: absolute;
		right: 0;
		top: -7px;
		width: 180px;
		height: 15px;
	}
}
.prof-nav{
	border-bottom:1px solid rgba(128,128,128,.18);
	overflow: hidden;
	a{
		float: left;
		text-align: center;
		width: 73px;
		padding: 12px 0 10px;
		position: relative;
		&:hover{
			.ico-profile{background-position: sprite-position($icons, 'prof1_h');}
			.ico-search{background-position: sprite-position($icons, 'prof2_h');}
			.ico-change-num{background-position: sprite-position($icons, 'prof3_h');}
			span{color:#3d3d3d;}
		}
		&:after{
			content:'';
			height: 100%;
			width: 1px;
			position: absolute;
			top: 0;
			left:0;
			@include background-image(linear-gradient(rgba(128,128,128,.0), rgba(128,128,128,.18)));
		}
		&:first-child:after{display: none;}
	}
	span{
		display: block;
		font-size: 11px;
		color:#525252;
		line-height: 1.2;
	}
	.ico-profile{
		@include sized-sprite($icons, 'prof1');
		display: inline-block;
		margin-bottom: 9px;
	}
	.ico-search{
		@include sized-sprite($icons, 'prof2');
		display: inline-block;
		margin-bottom: 9px;
	}
	.ico-change-num{
		@include sized-sprite($icons, 'prof3');
		display: inline-block;
		margin-bottom: 9px;
	}
}

.table-list{
	padding: 9px 0;
	border-bottom:1px solid rgba(128,128,128,.18);
	.table-list__item{
		overflow: hidden;
		padding: 0 13px 0 15px;
	}
	.table-list__name{
		float: left;
		font-size: 12px;
		padding: 8px 0;
		width: 150px;
		overflow: hidden;
		text-overflow:ellipsis;
		a{
			color: #383838;
			text-decoration: none;
			&:hover{font-weight: bold;}
		}
	}
	.ico-table{
		float: right;
		width: 38px;
		height: 26px;
		border:1px solid transparent;
		border-radius:2px;
		line-height: 26px;
		text-align: center;
		i{
			display: inline-block;
			@include sized-sprite($icons, 'table');
		}
		&:hover{
			box-shadow:0 1px 0 rgba(white,.24) inset, 0 1px 0 rgba(0,0,0,.1);
			@include background-image(linear-gradient(#7da629, #638d10));
			border-color:#4b6a0c;
			i{background-position: sprite-position($icons, 'table2');}
		}
	}
}
.table-list__out{
	padding: 17px;
	a{
		font-size: 14px;
		color:#838383;
		&:hover{
			color:#191919;
			i{
				background-position: sprite-position($icons, 'ico-out_h');
			}
		}
	}
	i{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -2px;
		margin-right: 9px;
		@include sized-sprite($icons, 'ico-out');
	}
}

.user-prof_right{
	padding: 0;
	border:0;
	left: auto;
	right: 30px;
}

.user-prof_open{
	&.user-prof_right{
		//top:37px;
		right: 22px;
	}
	.user-prof__btn{
		margin: -10px 0 -18px;
		padding: 10px 8px 18px 12px;
	}
	.user-prof__btn{
		background:#fff;
		height: 31px;
		border-radius:3px 3px 0 0;
		box-shadow:0 10px 18px rgba(0,0,0,.21);
	}
	.user-prof__drop{display: block;}
}

/*push*/
.push {
	height: 76px;
	clear: both;
}
/*footer*/
.footer {
	position: relative;
	width: 920px;
	margin: 0 auto;
	height: 16px;
	line-height: 16px;
	padding: 30px 0;
	overflow: hidden;
	color: #ada198;
	.facebook{
		float: left;
		color:transparent;
		font: 0/0 a;
		margin: -5px 0 0 10px;
		@include sized-sprite($icons, 'facebook');
		&:hover{@include sized-sprite($icons, 'facebook_h');}
	}
}
.footer__nav {
	float: right;
	li {
		float: left;
		padding: 0 10px;
		border-left: 1px solid #d9d6d4;
		&:first-child {
			border: none;
		}
	}
	a {
		color: #ada198;
	}
}
.copyright {
	float: left;
}
/*scroll*/
.jspContainer
{
	overflow: hidden;
	position: relative;
	width: 615px !important;
}
.jspPane
{
	position: absolute;
	width: 580px !important;
	//z-index: 1000;
}
.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 12px;
	width: 8px;
	height: 100%;
}
.jspHorizontalBar
{
	/*position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;*/
	position: absolute;
	top: 0;
	right: 12px;
	width: 8px;
	height: 100%;
}
.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}
.jspCap
{
	display: none;
}
.jspHorizontalBar .jspCap
{
	float: left;
}
.jspTrack
{
	width: 4px;
	background: #efefef;
	@include border-radius(2px);
	position: relative;
}
.jspDrag
{
	background: #d3d3d3;
	position: relative;
	top: 0;
	left: -2px;
	width: 8px;
	@include border-radius(4px);
	cursor: pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}
.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow
{
	height: 16px;
}
.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus
{
	outline: none;
}
.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
/*popup*/
/*.popup__overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1500;
	width: 100%;
	height: 100%;
}*/
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 660px;
	height: 540px;
	margin: -270px 0 0 -330px;
	border: 3px solid #fff;
	z-index: 2000;
	background: #fff;
	@include box-shadow(rgba(0,0,0,0.3) 9px 5px 50px 10px);

}
.popup__close {
	position: absolute;
	top: -10px;
	right: -10px;
	@include sized-sprite($icons, close);
	@include border-radius(13px);
	@include box-shadow(rgba(0,0,0,0.3) 0 3px 5px);
	cursor: pointer;
	&:hover{
		background-position: sprite-position($icons, 'close_h');
	}
	//z-index: 100;
}
/*.popup-map {
	width: 660px;
	height: 540px;
	div {
	width: 660px;
	height: 540px;
	background: #fff;
	}
}*/
/*select*/
.select {
	position: relative;
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 8px;
	border: 1px solid #c0c0c0;
	@include border-radius(2px);
	@include background-image(linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0)));
	@include box-shadow(rgba(234,234,234,0.5) 0px 0px 1px inset, #fff 0 1px 1px inset, #fff 0 1px 1px);
	font-size: 16px;
	color: #444;
	cursor: pointer;
	i {
		position: absolute;
		top: 0;
		right: 0;
		width: 18px;
		height: 30px;
		background: #e7e7e7;
		@include background-image(linear-gradient(#e7e7e7, #c1bbbb));
		@include box-shadow(#fff 0px 1px 1px inset);
		border-left: 1px solid #c0c0c0;
	}
	em {
		position: absolute;
		top: 14px;
		left: 6px;
		@include sized-sprite($icons, arr1);
	}
	select {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		filter: alpha(opacity=0);
		z-index: 5;
		zoom: 1;
		-webkit-appearance: menulist-button;
	}
	b{font-weight: normal;}
}
