.ltie8 {
    .select {
        select {
            margin-top: 5px;
        }
    }
}
.ie8 {
    .search__btn {
        i {
            top: -1px;
        }
    }
    .search__btn_big {
        i {
            top: 15px;
        }
    }
}
