@import "compass/css3";
@import "base";
/*oferta*/
.oferta {
	padding: 35px 50px 65px 50px;
	@include border-radius(3px);
	@include background-image(linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.3)));
	@include box-shadow(rgba(255,255,255,0.8) 0px 1px 1px inset, rgba(0,0,0,0.1) 0 2px 4px);
	color: #353535;
	.h1 {
		margin-bottom: 20px;
		font-size: 36px;
		color: #1c1c1c;
	}
	.h2 {
		margin-bottom: 20px;
	}
	p, li {
		margin-bottom: 20px;
		line-height: 1.5;
		font-size: 14px;
	}
	ol {
		padding-left: 40px;
	}
}
.oferta__terms {
	margin: 50px 0 60px 0;
}
.oferta__rules {
	padding: 50px 0;
	background: url(../img/shadow.png) no-repeat 50% 0;
	.h2 {
		span {
			float: left;
			width: 40px;
		}
	}
	ul {
		li {
			margin-bottom: 0px;
		}
	}
}
.oferta__contacts {
	padding: 50px 0 0 40px;
	background: url(../img/shadow.png) no-repeat 50% 0;
	li {
		margin-bottom: 0px;
	}
	.h2 {
		margin: 20px 0 10px 0;
	}
}