/*fonts*/
@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("../fonts/helveticaneuecyr-roman-webfont.eot");
  src: url("../fonts/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-roman-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot");
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_HelveticaNeue-CondensedBold';
  src: url("../fonts/HelveticaNeue-CondensedBold.eot");
  src: local("☺"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype"), url("../fonts/HelveticaNeue-CondensedBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'flexyregular';
  src: url("../fonts/flexy31-1-webfont.eot");
  src: url("../fonts/flexy31-1-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/flexy31-1-webfont.woff") format("woff"), url("../fonts/flexy31-1-webfont.ttf") format("truetype"), url("../fonts/flexy31-1-webfont.svg#flexyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*resets*/
/* line 4, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../scss/common.scss */
html {
  height: 100%;
}

/* line 8, ../scss/common.scss */
body {
  height: 100%;
  background: url(../img/icons/bg.png);
  font-family: 'helveticaneuecyrroman', Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #2e2c2a;
  line-height: 1;
}

/* line 19, ../scss/common.scss */
a img, fieldset {
  border: none;
}

/* line 22, ../scss/common.scss */
a {
  text-decoration: none;
}

/* line 25, ../scss/common.scss */
li {
  list-style: none;
}

/* line 28, ../scss/common.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 32, ../scss/common.scss */
.h1 {
  font-size: 30px;
  font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
}

/* line 36, ../scss/common.scss */
.h2 {
  font-size: 24px;
  font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
}

/* line 40, ../scss/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/* line 46, ../scss/common.scss */
.container {
  position: relative;
  width: 920px;
  margin: 0 auto -76px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/*layouts*/
/* line 55, ../scss/common.scss */
.col-1 {
  float: left;
  width: 600px;
}

/*header*/
/* line 60, ../scss/common.scss */
.header {
  position: relative;
  height: 108px;
}

/* line 64, ../scss/common.scss */
.logo {
  position: absolute;
  top: 42px;
  left: 22px;
  background: url('../img/icons-s6749cea3e3.png') 0 -396px no-repeat;
  width: 148px;
  height: 41px;
}
/* line 69, ../scss/common.scss */
.logo a {
  display: block;
  width: 148px;
  height: 41px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/* line 78, ../scss/common.scss */
.logo-desc {
  position: absolute;
  top: 47px;
  left: 194px;
  height: 28px;
  line-height: 28px;
  padding: 0 85px 0 25px;
  border-left: 1px solid #ada198;
  opacity: 0.4;
}
/* line 87, ../scss/common.scss */
.logo-desc span {
  color: #2e2c2a;
}
/* line 90, ../scss/common.scss */
.logo-desc i {
  position: absolute;
  top: 2px;
  right: 0;
  background: url('../img/icons-s6749cea3e3.png') 0 -628px no-repeat;
  width: 76px;
  height: 23px;
}

/*push*/
/* line 98, ../scss/common.scss */
.push {
  height: 76px;
  clear: both;
}

/*footer*/
/* line 103, ../scss/common.scss */
.footer {
  position: relative;
  width: 920px;
  margin: 0 auto;
  height: 16px;
  line-height: 16px;
  padding: 30px 0;
  overflow: hidden;
  color: #ada198;
}

/* line 113, ../scss/common.scss */
.footer__nav {
  float: right;
}
/* line 115, ../scss/common.scss */
.footer__nav li {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #d9d6d4;
}
/* line 119, ../scss/common.scss */
.footer__nav li:first-child {
  border: none;
}
/* line 123, ../scss/common.scss */
.footer__nav a {
  color: #ada198;
}

/* line 127, ../scss/common.scss */
.copyright {
  float: left;
}

/*scroll*/
/* line 132, ../scss/common.scss */
.jspContainer {
  overflow: hidden;
  position: relative;
  width: 615px !important;
}

/* line 138, ../scss/common.scss */
.jspPane {
  position: absolute;
  width: 580px !important;
}

/* line 143, ../scss/common.scss */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 12px;
  width: 8px;
  height: 100%;
}

/* line 151, ../scss/common.scss */
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

/* line 161, ../scss/common.scss */
.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

/* line 166, ../scss/common.scss */
.jspCap {
  display: none;
}

/* line 170, ../scss/common.scss */
.jspHorizontalBar .jspCap {
  float: left;
}

/* line 174, ../scss/common.scss */
.jspTrack {
  width: 4px;
  background: #efefef;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}

/* line 181, ../scss/common.scss */
.jspDrag {
  background: #d3d3d3;
  position: relative;
  top: 0;
  left: -2px;
  width: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

/* line 192, ../scss/common.scss */
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

/* line 197, ../scss/common.scss */
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

/* line 204, ../scss/common.scss */
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

/* line 209, ../scss/common.scss */
.jspVerticalBar .jspArrow {
  height: 16px;
}

/* line 213, ../scss/common.scss */
.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

/* line 219, ../scss/common.scss */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}

/* line 223, ../scss/common.scss */
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* line 229, ../scss/common.scss */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

/*popup*/
/* line 233, ../scss/common.scss */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 660px;
  height: 540px;
  margin: -270px 0 0 -330px;
  border: 3px solid #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 9px 5px 50px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 9px 5px 50px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 9px 5px 50px 10px;
}
/* line 243, ../scss/common.scss */
.popup .popup__close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: url('../img/icons-s6749cea3e3.png') 0 -721px no-repeat;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
  cursor: pointer;
}

/*select*/
/* line 254, ../scss/common.scss */
.select {
  position: relative;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 8px;
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjcpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDApIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  -webkit-box-shadow: rgba(234, 234, 234, 0.5) 0px 0px 1px inset, white 0 1px 1px inset, white 0 1px 1px;
  -moz-box-shadow: rgba(234, 234, 234, 0.5) 0px 0px 1px inset, white 0 1px 1px inset, white 0 1px 1px;
  box-shadow: rgba(234, 234, 234, 0.5) 0px 0px 1px inset, white 0 1px 1px inset, white 0 1px 1px;
  font-size: 16px;
  color: #444;
  cursor: pointer;
}
/* line 267, ../scss/common.scss */
.select i {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 30px;
  background: #e7e7e7;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MxYmJiYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e7e7), color-stop(100%, #c1bbbb));
  background-image: -webkit-linear-gradient(#e7e7e7, #c1bbbb);
  background-image: -moz-linear-gradient(#e7e7e7, #c1bbbb);
  background-image: -o-linear-gradient(#e7e7e7, #c1bbbb);
  background-image: -ms-linear-gradient(#e7e7e7, #c1bbbb);
  background-image: linear-gradient(#e7e7e7, #c1bbbb);
  -webkit-box-shadow: white 0px 1px 1px inset;
  -moz-box-shadow: white 0px 1px 1px inset;
  box-shadow: white 0px 1px 1px inset;
  border-left: 1px solid #c0c0c0;
}
/* line 278, ../scss/common.scss */
.select em {
  position: absolute;
  top: 14px;
  left: 6px;
  background: url('../img/icons-s6749cea3e3.png') 0 -1578px no-repeat;
  width: 7px;
  height: 5px;
}
/* line 284, ../scss/common.scss */
.select select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 5;
  zoom: 1;
}
