/*fonts*/
@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("../fonts/helveticaneuecyr-roman-webfont.eot");
  src: url("../fonts/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-roman-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot");
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_HelveticaNeue-CondensedBold';
  src: url("../fonts/HelveticaNeue-CondensedBold.eot");
  src: local("☺"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype"), url("../fonts/HelveticaNeue-CondensedBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'flexyregular';
  src: url("../fonts/flexy31-1-webfont.eot");
  src: url("../fonts/flexy31-1-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/flexy31-1-webfont.woff") format("woff"), url("../fonts/flexy31-1-webfont.ttf") format("truetype"), url("../fonts/flexy31-1-webfont.svg#flexyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*main*/
/*main*/
/* line 5, ../scss/main.scss */
.main-wrap {
  position: relative;
}

/* line 8, ../scss/main.scss */
.main {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  overflow: hidden;
}

/*slider*/
/* line 14, ../scss/main.scss */
.slider {
  width: 600px;
  background: #fff;
}

/* line 18, ../scss/main.scss */
.slider__wrap {
  width: 600px;
  height: 400px;
  line-height: 400px;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -ms-border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  background: #000;
  overflow: hidden;
  text-align: center;
}

/* line 27, ../scss/main.scss */
.slider__info, .slider__reviews {
  position: relative;
  height: 90px;
  overflow: hidden;
}

/* line 33, ../scss/main.scss */
.slider__reviews .reserve {
  position: relative;
  bottom: auto;
  margin: 0;
  padding: 23px 0 0 20px;
  border: none;
}
/* line 39, ../scss/main.scss */
.slider__reviews .reserve a {
  width: 240px;
}
/* line 41, ../scss/main.scss */
.slider__reviews .reserve a:hover, .slider__reviews .reserve a:active {
  width: 240px;
}

/* line 47, ../scss/main.scss */
.slider__rating {
  float: left;
  text-align: right;
  position: relative;
  width: 170px;
  margin: 25px 0 0 20px;
}
/* line 54, ../scss/main.scss */
.slider__rating span {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  color: #8f847b;
}
/* line 60, ../scss/main.scss */
.slider__rating .slider__ratingstars {
  width: 94px;
  text-align: center;
  height: 38px;
  padding-top: 4px;
  float: left;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}
/* line 71, ../scss/main.scss */
.slider__rating .slider__ratingicon {
  background: url('../img/icons-s0b9039f0d0.png') 0 -513px no-repeat;
  width: 72px;
  height: 44px;
  float: left;
}
/* line 75, ../scss/main.scss */
.slider__rating .slider__ratingwrap {
  position: relative;
  display: inline-block;
}
/* line 79, ../scss/main.scss */
.slider__rating .slider__ratingdefault, .slider__rating .slider__ratingcurrent {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  background: url('../img/icons-s0b9039f0d0.png') 0 -1451px no-repeat;
  width: 73px;
  height: 13px;
}
/* line 86, ../scss/main.scss */
.slider__rating .slider__ratingcurrent {
  position: absolute;
  z-index: 10;
  background: url('../img/icons-s0b9039f0d0.png') 0 -907px no-repeat;
  width: 73px;
  height: 13px;
}

/* line 93, ../scss/main.scss */
.slider__title {
  float: left;
  padding-left: 25px;
  margin: 22px 0;
}
/* line 98, ../scss/main.scss */
.slider__title .h1 {
  margin-bottom: 3px;
}
/* line 101, ../scss/main.scss */
.slider__title span {
  font-size: 13px;
  color: #8f847b;
}

/* line 106, ../scss/main.scss */
.slider__nav {
  float: right;
  margin: 27px 15px 0 0;
}
/* line 109, ../scss/main.scss */
.slider__nav li {
  float: left;
}
/* line 112, ../scss/main.scss */
.slider__nav i {
  display: block;
}
/* line 116, ../scss/main.scss */
.slider__nav .disabled .slider__prev-ico {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1312px no-repeat;
  width: 27px;
  height: 28px;
}
/* line 119, ../scss/main.scss */
.slider__nav .disabled .slider__next-ico {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1350px no-repeat;
  width: 27px;
  height: 28px;
}

/* line 124, ../scss/main.scss */
.slider__prev, .slider__next {
  cursor: pointer;
}

/* line 127, ../scss/main.scss */
.slider__prev-ico {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1241px no-repeat;
  width: 27px;
  height: 28px;
}
/* line 129, ../scss/main.scss */
.slider__prev-ico:hover {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1127px no-repeat;
  width: 27px;
  height: 28px;
}

/* line 133, ../scss/main.scss */
.slider__current {
  margin: 0 8px;
  line-height: 28px;
}

/* line 137, ../scss/main.scss */
.slider__next-ico {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1165px no-repeat;
  width: 27px;
  height: 28px;
}
/* line 139, ../scss/main.scss */
.slider__next-ico:hover {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1165px no-repeat;
  width: 27px;
  height: 28px;
}

/*main-tabs*/
/* line 144, ../scss/main.scss */
.tabs {
  position: absolute;
  right: 0;
  top: -58px;
  width: 320px;
  background: #f3f0ed;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
  font-family: 'helveticaneuecyrbold', Arial, sans-serif;
  overflow: hidden;
}
/* line 154, ../scss/main.scss */
.tabs li {
  position: relative;
  float: left;
}
/* line 158, ../scss/main.scss */
.tabs a {
  display: block;
  height: 57px;
  padding-left: 55px;
  border-top: 1px solid #fff;
  line-height: 57px;
  font-size: 13px;
  color: #afa299;
  text-shadow: 0 1px 1px #fff;
  cursor: pointer;
}
/* line 168, ../scss/main.scss */
.tabs a:hover {
  color: #554e49;
}
/* line 172, ../scss/main.scss */
.tabs i {
  position: absolute;
  top: 16px;
  left: 27px;
}
/* line 177, ../scss/main.scss */
.tabs .active {
  height: 56px;
  line-height: 56px;
  background: #fff;
  border-top: 2px solid #da2d17;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  color: #da2d17;
}
/* line 184, ../scss/main.scss */
.tabs .active .tabs__info-ico {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1682px no-repeat;
  width: 16px;
  height: 21px;
}
/* line 187, ../scss/main.scss */
.tabs .active .tabs__reviews-ico {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1928px no-repeat;
  width: 16px;
  height: 22px;
}
/* line 190, ../scss/main.scss */
.tabs .active:hover {
  color: #da2d17;
}
/* line 192, ../scss/main.scss */
.tabs .active:hover .tabs__info-ico {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1682px no-repeat;
  width: 16px;
  height: 21px;
}
/* line 195, ../scss/main.scss */
.tabs .active:hover .tabs__reviews-ico {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1928px no-repeat;
  width: 16px;
  height: 22px;
}

/* line 201, ../scss/main.scss */
.tabs__info {
  width: 110px;
}
/* line 203, ../scss/main.scss */
.tabs__info i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1650px no-repeat;
  width: 16px;
  height: 22px;
}
/* line 207, ../scss/main.scss */
.tabs__info:hover i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1747px no-repeat;
  width: 16px;
  height: 22px;
}

/* line 212, ../scss/main.scss */
.tabs__reviews {
  width: 100px;
}
/* line 214, ../scss/main.scss */
.tabs__reviews i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1896px no-repeat;
  width: 16px;
  height: 22px;
}
/* line 218, ../scss/main.scss */
.tabs__reviews:hover i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1960px no-repeat;
  width: 16px;
  height: 22px;
}

/*content*/
/* line 224, ../scss/main.scss */
.content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #fff;
}

/* line 231, ../scss/main.scss */
.content_info {
  width: 260px;
  padding: 0 30px;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -ms-border-radius: 0 0 3px 0;
  -o-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
}
/* line 235, ../scss/main.scss */
.content_info ul {
  padding-top: 23px;
}
/* line 238, ../scss/main.scss */
.content_info li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
}
/* line 242, ../scss/main.scss */
.content_info li:hover {
  cursor: default;
}
/* line 246, ../scss/main.scss */
.content_info i {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 251, ../scss/main.scss */
.content_info b {
  display: block;
  font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
  font-weight: normal;
}
/* line 257, ../scss/main.scss */
.content_info .content__adress i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1713px no-repeat;
  width: 26px;
  height: 24px;
}
/* line 260, ../scss/main.scss */
.content_info .content__adress b {
  margin-bottom: 5px;
  font-size: 14px;
}
/* line 264, ../scss/main.scss */
.content_info .content__adress span {
  position: relative;
  padding-left: 20px;
}
/* line 268, ../scss/main.scss */
.content_info .content__adress em {
  position: absolute;
  top: 1px;
  left: 0;
  background: url('../img/icons-s0b9039f0d0.png') 0 -1858px no-repeat;
  width: 15px;
  height: 10px;
}
/* line 275, ../scss/main.scss */
.content_info .content__adress:hover i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -930px no-repeat;
  width: 26px;
  height: 24px;
}
/* line 280, ../scss/main.scss */
.content_info .content__map {
  width: 260px;
  height: 135px;
  padding-left: 0px;
  overflow: hidden;
}
/* line 286, ../scss/main.scss */
.content_info .content__time {
  text-transform: uppercase;
  line-height: 1.5;
}
/* line 289, ../scss/main.scss */
.content_info .content__time i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1417px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 293, ../scss/main.scss */
.content_info .content__time:hover i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -714px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 298, ../scss/main.scss */
.content_info .content__info {
  font-size: 13px;
  line-height: 1.5;
}
/* line 301, ../scss/main.scss */
.content_info .content__info i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1552px no-repeat;
  width: 24px;
  height: 25px;
}
/* line 305, ../scss/main.scss */
.content_info .content__info:hover i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -834px no-repeat;
  width: 24px;
  height: 25px;
}
/* line 310, ../scss/main.scss */
.content_info .content__check {
  padding-top: 5px;
  font-size: 13px;
}
/* line 313, ../scss/main.scss */
.content_info .content__check i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -1587px no-repeat;
  width: 23px;
  height: 30px;
}
/* line 317, ../scss/main.scss */
.content_info .content__check:hover i {
  background: url('../img/icons-s0b9039f0d0.png') 0 -794px no-repeat;
  width: 23px;
  height: 30px;
}
/* line 321, ../scss/main.scss */
.content_info .content__check a {
  font-size: 13px;
  color: #2e2c2a;
  text-decoration: underline;
}
/* line 327, ../scss/main.scss */
.content_info .content__map-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset, white 0 0 5px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset, white 0 0 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px inset, white 0 0 5px 5px;
  cursor: pointer;
}
/* line 337, ../scss/main.scss */
.content_info .one-line {
  padding-top: 4px;
}

/* line 341, ../scss/main.scss */
.content_reviews {
  width: 640px;
}
/* line 343, ../scss/main.scss */
.content_reviews:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwLjIpIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

/* line 353, ../scss/main.scss */
.reviews {
  position: relative;
  height: 445px;
  margin: 25px 0 20px 25px;
  outline: none;
  overflow: auto;
}

/* line 360, ../scss/main.scss */
.reviews__item {
  margin-bottom: 20px;
}

/* line 363, ../scss/main.scss */
.reviews__top {
  overflow: hidden;
}

/* line 366, ../scss/main.scss */
.user {
  float: left;
  width: 250px;
}

/* line 370, ../scss/main.scss */
.user__pic {
  float: left;
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 13px;
}
/* line 376, ../scss/main.scss */
.user__pic i {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px inset;
  z-index: 5;
}
/* line 384, ../scss/main.scss */
.user__pic img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 388, ../scss/main.scss */
.user__name {
  padding-top: 6px;
}
/* line 390, ../scss/main.scss */
.user__name a {
  font-size: 18px;
  color: #3d3d3d;
  font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
}
/* line 395, ../scss/main.scss */
.user__name span {
  display: block;
  margin-top: 6px;
  color: #9c9c9c;
}

/* line 401, ../scss/main.scss */
.rating {
  float: right;
  margin: 5px 0;
  padding: 9px 15px 9px 30px;
  border-left: 1px solid #e5e5e5;
}

/* line 407, ../scss/main.scss */
.recomm {
  float: right;
  padding: 9px 35px 0 0;
}

/* line 411, ../scss/main.scss */
.best {
  float: right;
  padding-right: 35px;
  line-height: 50px;
}
/* line 415, ../scss/main.scss */
.best span {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  color: #3d3d3d;
  font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
}
/* line 422, ../scss/main.scss */
.best i {
  position: absolute;
  top: -2px;
  left: 0;
  background: url('../img/icons-s0b9039f0d0.png') 0 -1092px no-repeat;
  width: 24px;
  height: 25px;
}

/* line 429, ../scss/main.scss */
.review__txt {
  position: relative;
  margin-top: 16px;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 435, ../scss/main.scss */
.review__txt p {
  line-height: 1.3;
  font-size: 13px;
  color: #424242;
}
/* line 440, ../scss/main.scss */
.review__txt a {
  color: #ae0000;
  text-decoration: underline;
}
/* line 444, ../scss/main.scss */
.review__txt i {
  position: absolute;
  top: -8px;
  left: 17px;
  background: url('../img/icons-s0b9039f0d0.png') 0 -1878px no-repeat;
  width: 11px;
  height: 8px;
}

/*reserve*/
/* line 452, ../scss/main.scss */
.reserve {
  position: absolute;
  width: 250px;
  bottom: 11px;
  padding: 13px 10px 10px 10px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 459, ../scss/main.scss */
.reserve span {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 0 7px;
  background: #fff;
  font-size: 14px;
  font-family: 'helveticaneuecyrbold', Arial, sans-serif;
}
/* line 468, ../scss/main.scss */
.reserve a {
  display: block;
  height: 43px;
  line-height: 43px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: url('../img/icons-s0b9039f0d0.png') 0 -354px no-repeat;
  width: 388px;
  height: 43px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -2px 1px;
  font-size: 18px;
  font-family: 'Conv_HelveticaNeue-CondensedBold', Arial, sans-serif;
  color: #fff;
  width: 100%;
  background-repeat: repeat-x;
}
/* line 482, ../scss/main.scss */
.reserve a:hover {
  background-position: 0 -301px;
  width: auto;
  background-repeat: repeat-x;
}
/* line 487, ../scss/main.scss */
.reserve a:active {
  background-position: 0 -460px;
  width: auto;
  background-repeat: repeat-x;
}
